{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rhino quiz</title>
    <script type="text/javascript" src="{% static 'quiz.js' %}" charset="utf-8"></script>
</head>
<body>
    <h3>Quiz</h3>
    <form id="quizForm">
        <input type="hidden" id="launchId" value="{{ launch_id }}">
        <p>What should your grade be?</p>
        <label>
            <input type="radio" name="answer" value="A">
            A
        </label>
        <br>
        <label>
            <input type="radio" name="answer" value="B">
            B
        </label>
        <br>
        <label>
            <input type="radio" name="answer" value="C">
            C
        </label>
        <br>
        <label>
            <input type="radio" name="answer" value="D">
            D
        </label>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>

    <!-- <script src="quiz.js"></script> -->
</body>
</html>